@mixin calc-cs($container_size, $plus: false) {
    @if $plus != false {
        width: calc( #{$plus} + ( ( ( 100vw - #{map-get($container-max-widths, #{$container_size})} ) + #{$grid-gutter-width} ) / 2 ) );
    } @else {
        width: calc( ( ( 100vw - #{map-get($container-max-widths, #{$container_size})} ) + #{$grid-gutter-width} ) / 2 );
    }
}

@mixin calc-cs-placement($container_size, $side: false) {
    @if $side == 'left' {
        left: calc( -1 * ( ( ( 100vw - #{map-get($container-max-widths, #{$container_size})} ) + #{$grid-gutter-width} ) / 2 ) );
    } @else if $side == 'right' {
        right: calc( -1 * ( ( ( 100vw - #{map-get($container-max-widths, #{$container_size})} ) + #{$grid-gutter-width} ) / 2 ) );
    } @else {
        @warn "$side moet gelijk zijn aan left of right";
    }
}

@mixin letter-spacing($spacing) {
    letter-spacing: ($spacing / 1000) * 1rem;
}