.builder-slider{
    &__slide{
        height: 250px!important;
        content:'';
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .slick-slide {
        margin: 0 15px;
    }
    .slick-list {
        margin: 0 -15px;
    }
    &__arrows{
        position: absolute;
        top: 50%;
        width: calc(100% - 30px);
        transform: translateY(-50%);
        &--left, &--right{
            height: 40px;
            width: 40px;
            background-color: $primary;
            line-height: 40px;
            text-align: center;
            content:'';
            z-index: 3;
            position: absolute;
            color:white;
        }
        &--left{
            left: 0;
        }
        &--right{
            right: 0;
        }
    }
}

.faq {
    &-item {
        margin: 0 0 40px;
        &.is-active {
            .faq-item {
                &__toggler {
                    &:after {
                        transform: translate(-50%, -50%) rotate(180deg);
                    }
                }
            }
        }
        &__header {
            border-bottom: 1px solid $gray-400;
            position: relative;
        }
        &__title {
            @include font-size(18);
            display: block;
        }
        &__subtitle {
            @include font-size(18);
            color: $primary;
            display: block;
            font-weight: 700;
            margin: 0 0 10px;
        }
        &__toggler {
            bottom: 18px;
            display: block;
            height: 12px;
            position: absolute;
            right: 0;
            width: 12px;
            &:before,
            &:after {
                background-color: $black;
                content: '';
                height: 2px;
                left: 50%;
                position: absolute;
                top: 50%;
                width: 12px;
            }
            &:before {
                transform: translate(-50%, -50%);
            }
            &:after {
                transform: translate(-50%, -50%) rotate(90deg);
                transition: transform .3s ease;
            }
        }
        &__content {
            display: none;
            padding: 20px 0 0;
        }
    }
}